
/*------------------------ 
    index.php (login)
-------------------------*/

#logo 
{
  max-width: 100%;
  height: auto;
}

.flex
{
  display: flex;
}


.login 
{
	margin-top:20px;
} 

#mdpoublie 
{
  display: block;
  padding: 0;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph 
{
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/*------------------------ 
    partout.php (partout)
-------------------------*/

.page_content
{
  margin-top: 70px;
}

.cadre
{
  margin: 50px;
  padding: 20px;
  border: 2px solid rgba(57,57,57,0.4);
  border-radius: 10px 10px 10px 10px;
}

/*------------------------ 
  dashboard.php (acceuil)
-------------------------*/
/* prout */ /*written by Djyp*/



/*------------------------ 
    topbar.php (partout)
-------------------------*/

.logotop
{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
}

.logo_sidebar
{
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 154px; 
  height: 73px;
}

.topbar
{
  display: block;
  position: absolute;
  top: 0px;
  left: 154px;
  background-color: #FC2D2D;
  width: 100%;
  height: 73px;
  float: right;
  padding-left: 15px;
}

.topbar h2
{
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.topbar p
{

}


/*------------------------ 
  sidebar.php (partout)
-------------------------*/



.ul_sidebar 
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.sidebar-brand 
{
  display: flex;
  height: 100%;
}

.ul_sidebar li
{
  display: block;
  text-decoration: none;
  background: #252525;
  border-top: 2px solid #373737;
  border-bottom: 2px solid #1A1A1A;
  -webkit-transition: background .5s;
  -moz-transition: background .5s;
  -o-transition: background .5s;
  -ms-transition: background .5s;
  transition: background .5s;
}


.ul_sidebar li:first-child
{
  margin-top: 10px;

}

.ul_sidebar li a
{
  display: block;
  text-decoration: none;
  color: #999;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 135px
}

.ul_sidebar li a span
{
  width: 35px;
  padding-left: 5px;
  padding-right: 5px;
}

.sidenav a
{
  color: #fff;
  font-size: 1.2em;
  padding: 6px;
  text-decoration: none;

}

.sidenav a span
{
  width: 10px;
  margin-right: 20px;
  margin-left: 5px; 
}

.btn-profil-disco
{
/*  margin-top: 50px;*/
}

/* test nouvelle sidebar */

.row{
    margin-left:0px;
    margin-right:0px;
}

#wrapper {
    padding-left: 70px;
    transition: all .4s ease 0s;
    height: 100%
}

#sidebar-wrapper {
    margin-left: -135px;
    left: 0px;
    width: 135px;
    background: #222;
    position: fixed;
    top: 73px;
    height: 100%;
    z-index: 10000;
    transition: all .4s ease 0s;
}

.sidebar-nav {
    display: block;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar_nav 
{
    margin-left: -70px;
    height: 80px;
}

#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}


#wrapper.active #sidebar-wrapper, #wrapper.active .btn-menu {
    left: 135px;
}

#page-content-wrapper {
    width: 100%;
}

#sidebar_menu 
{
  display: flex;
  justify-content: center;
  height: 100%;
  border-top: 2px solid #373737;
  border-bottom: 2px solid #1A1A1A;
  border-left: 2px solid #373737;
  border-right: 2px solid #1A1A1A;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px; 
}

#sidebar_menu li a, .sidebar-nav li a {
    color: #999;
    text-decoration: none;
    /*width: 150px;*/
    background: #252525;
    border-top: 2px solid #373737;
    border-bottom: 2px solid #1A1A1A;
    -webkit-transition: background .5s;
    -moz-transition: background .5s;
    -o-transition: background .5s;
    -ms-transition: background .5s;
    transition: background .5s;
}

.btn-menu {
    top: 73px; 
    left: 0px;
    bottom: 0px;
    width: 19px;
    background: #222;
    position: fixed;
    z-index: 10000;
    transition: all .4s ease 0s;
}

#menu-toggle
{ 
  display: flex;
  align-items: center;
  height: 100%;
  border-bottom-width: 2px;
  border-top-width: 2px;
  padding-top: 0px;
}

#menu-toggle:hover {
    color: #fff;
    background: rgba(255,255,255,0.2);
    text-decoration: none;
}

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: flex;
  flex-wrap: nowrap;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}



.sidebar-brand:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;    
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
/*  height: 80px;
  line-height: 80px;*/
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

/*#main_icon
{
    float:right;
    padding-right: 15px;
    padding-top: 33px;
}*/
.sub_icon
{
    float:right;
    padding-right: 65px;
    padding-top:10px;
}
.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

.div_nav
{
    width: 100px;
}

.fa-span
{
    width: 50px;
    margin-top: 12px
}

.li-logo
{
    justify-content: center;
}




/*------------------------ 
  user.php (modif user)
-------------------------*/


/*------------------------ 
  gestion_user.php (gestion Admin)
-------------------------*/


/*------------------------ 
  oeuvre.php (gestion des oeuvres)
-------------------------*/


/*------------------------ 
  exposition.php (gestion des expos)
-------------------------*/


/*------------------------ 
  artistes.php (gestion des artistes)
-------------------------*/


/*------------------------ 
    .php ()
-------------------------*/