
/*------------------------ 
    index.php (login)
-------------------------*/

#logo 
{
  max-width: 100%;
  height: auto;
}

.login 
{
	margin-top:20px;
} 

#mdpoublie 
{
  display: block;
  padding: 0;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph 
{
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

/*------------------------ 
  dashboard.php (acceuil)
-------------------------*/
/* prout */ /*written by Djyp*/



/*------------------------ 
  sidebar.php (partout)
-------------------------*/

.flex
{
  display: flex;
}

.sidebar
{
  width: 230px;
  height: 100%;
}

.sidenav
{
  background-color: #6C6C6C;
  width: 200px;
  padding-top: 20px;
  position: absolute;
  top: 73px;
  bottom: 0;
}

.logo_sidebar
{
  width: 200px; 
  height: 73px;
}

.ul_sidebar 
{
  list-style: none;
  padding: 0;
}

.sidenav li
{
  margin-bottom: 20px; 
}

.sidenav a
{
  color: #fff;
  font-size: 1.2em;
  padding: 6px;
  text-decoration: none;

}

.sidenav a span
{
  width: 10px;
  margin-right: 20px;
  margin-left: 5px; 
}

/*------------------------ 
    topbar.php (partout)
-------------------------*/

.topbar
{
  background-color: #FC2D2D;
  width: 100%;
  height: 73px;
  float: right;
  padding-left: 15px;
}

.topbar h2
{
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

.topbar p
{

}

/*------------------------ 
  user.php (modif user)
-------------------------*/


/*------------------------ 
  gestion_user.php (gestion Admin)
-------------------------*/


/*------------------------ 
  oeuvre.php (gestion des oeuvres)
-------------------------*/


/*------------------------ 
  exposition.php (gestion des expos)
-------------------------*/


/*------------------------ 
  artistes.php (gestion des artistes)
-------------------------*/


/*------------------------ 
    .php ()
-------------------------*/